.Screen{
    
background-color: #FFFFFF !important;
}
.layer-1-31e565f909cd4dc9903f58577fa63399{
    flex-direction: row !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background-color: #292929 !important;
height: 10vh !important;min-height: 10vh !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;{position}
flex-wrap: wrap !important;
}
.imageview-1-0725be7b5a5d461c9c94c10ac760fca4{
    
margin-top: 1vh !important;
box-sizing: border-box !important;
height: 8vh !important;min-height: 8vh !important;
width: 20vw !important;min-width: 20vw !important;
}
.text-1-3f8b56f7b2b04630baf5df3e3e31e2f1{
     text-align: center !important;

font-size: 16pt !important;
font-weight: normal !important;

margin-top: 2vh !important;
box-sizing: border-box !important;
color: #F0FFF9 !important;
height: 30px !important;min-height: 30px !important;
width: 14vh !important;min-width: 14vh !important;
}
.text-2-d272f975dc8242a8b0617f16d0a95653{
     text-align: center !important;

font-size: 16pt !important;
font-weight: normal !important;

margin-top: 2vh !important;
margin-left: 1vh !important;
box-sizing: border-box !important;
color: #FFFFFF !important;
height: 30vh !important;min-height: 30vh !important;
width: 15vw !important;min-width: 15vw !important;
}
.text-3-320a082b503441559d77357251f3f759{
     

font-size: 16pt !important;
font-weight: normal !important;

margin-top: 2vh !important;
margin-left: 1vw !important;
box-sizing: border-box !important;
color: #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
.text-4-4f9802bf3b714b45b38f9889a66747b8{
     

font-size: 16pt !important;
font-weight: normal !important;

margin-top: 2vh !important;
margin-left: 1vh !important;
box-sizing: border-box !important;
color: #FFFFFF !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
.text-9-4a57e40710f54fe6a4e85c7e53f21ba4{
     text-align: center !important;

font-size: 16pt !important;
font-weight: normal !important;

margin-top: 2vh !important;
margin-left: 4vw !important;
box-sizing: border-box !important;
color: #FFFFFF !important;
height: 25px !important;min-height: 25px !important;
width: fit-content !important;min-width:  unset !important;
}
.text-10-e285275cf0674257abe4f9f0d4acaf1e{
     text-align: center !important;

font-size: 16pt !important;
font-weight: normal !important;

margin-top: 2vh !important;
margin-left: 1vw !important;
box-sizing: border-box !important;
color: #ffffff !important;
height: 6vh !important;min-height: 6vh !important;
width: 13vw !important;min-width: 13vw !important;
}
.layer-3-512c753b18f740df8cf191cc91b80d3c{
    

box-shadow: 0px 0px 0px #0B120F !important;
padding-top: 4vh !important;
padding-left: 3vh !important;
box-sizing: border-box !important;
background-color: #323232 !important;
height: 80vh !important;min-height: 80vh !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;{position}
}
.text-11-77739d2a5050484ab3971d8853bf073f{
     text-align: left !important;

font-size: 47pt !important;
font-weight: normal !important;

color: #ffffff !important;
height: 25vh !important;min-height: 25vh !important;
width: 85vw !important;min-width: 85vw !important;
}
.text-12-0ce0b49d587743389e6df4256f743308{
     

font-size: 17pt !important;
font-weight: normal !important;

margin-top: 3vh !important;
box-sizing: border-box !important;
color: #ffffff !important;
height: fit-content !important;min-height:  unset !important;
width: 80vw !important;min-width: 80vw !important;
}
.text-13-8c01d4e08ddf4eb6a8110ac02cdf9d5c{
     

font-size: 20pt !important;
font-weight: normal !important;

margin-top: 4vh !important;
box-sizing: border-box !important;
color: #ffffff !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;
}
