.Screen2{
    
background-color: #FFFFFF !important;
}
.layer-5-eca5410a15884dd79e997339e7f690df{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background-color: #0002FF !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;{position}
flex-wrap: wrap !important;
}
.imageview-3-4755613645a24532bdc7d131bbacd582{
    
height: 90px !important;min-height: 90px !important;
width: 115px !important;min-width: 115px !important;
}
